$green: #8BC34A;
$yellow: #F9BF00;
$red: #FF5722;

body {
  font-family: 'Open Sans', sans-serif;
}
input {
  font-family: 'Open Sans', sans-serif;
  &:focus {
    outline: 0;
  }
}

a {
  cursor: pointer;
}
#timer_output {
  font-size: 5em;
  margin: 0;
}

.start {
  text-transform: uppercase;
  $size: 25px;
  $size2: $size*2;
  border: 1px solid #DDD;
  display: inline-block;
  width: $size2;
  height: $size2;
  border-radius: $size; 
  text-align: center;
  cursor: pointer;
  font-size: $size/2;
  line-height: $size2;
  
  &:hover {
    background: #F8F8F8;    
    &.active {
      background: #DDD;
    }
  }
  &.active {
    background: #DDD;
    border-color: #CCC;
  }
}

@mixin start-button($color) {
  color: $color;
  border: 1px solid $color;
  font-weight: bold;
  &:hover {
    background: lighten($color, 40);
  }
  &.active {
    background: $color;
    color: white;
  }
}

#pomodoro {
  @include start-button($green);
}
#short_break {
  @include start-button($yellow);
}
#long_break {
  @include start-button($red);
}

#current_user {
  font-size: 24px;
  input {
    font-size: 24px;
    width: 200px;
  }
}