$green: #8BC34A;
$yellow: #F9BF00;
$red: #FF5722;

body {
  font-family: 'Open Sans', sans-serif;
}
input {
  font-family: 'Open Sans', sans-serif;
  &:focus {
    outline: 0;
  }
}

a {
  cursor: pointer;
}
#timer_output {
  font-size: 5em;
  margin: 0;
}

.start {
  text-transform: uppercase;
  $size: 25px;
  $size2: $size*2;
  border: 1px solid #DDD;
  display: inline-block;
  width: $size2;
  height: $size2;
  border-radius: $size; 
  text-align: center;
  cursor: pointer;
  font-size: $size/2;
  line-height: $size2;
}

@mixin start-button($color, $animationName) {
  $dark-color: darken($color, 10);
  color: $color;
  border: 1px solid $color;
  font-weight: bold;

  @keyframes #{$animationName} {
    50% { 
      background: lighten($color, 42);   
      color: $dark-color;
      border-color: $dark-color;
      transform: scale(1.05, 1.05);
    }
  }
  &.next {
    animation: #{$animationName} 1.5s ease-in-out infinite;
  }
  &:hover {
    background: lighten($color, 40);
    animation: none;
    color: $dark-color;
    border-color: $dark-color;
    transform: $dark-color;
  }
  &.active {
    background: $color;
    color: white;
    border-color: darken($color, 5);
    
    &:hover {
      transform: none;
      border-color: darken($color, 5);
    }
  }
}

#pomodoro {
  @include start-button($green, 'pomoPulse');
}
#short_break {
  @include start-button($yellow, 'shortBreakPulse');
}
#long_break {
  @include start-button($red, 'longBreakPulse');
}
 
#current_user {
  font-size: 24px;
  input {
    font-size: 24px;
    width: 200px;
  }
}
.user {
  clear: both;
  .name {
    line-height: 44px;
  }
}
.avatar {
  float: left;
  margin-right: 10px;
}
.notifications {
  clear: both;
}