body {
  font-family: 'Open Sans', sans-serif;
}

#timer_output {
  font-size: 5em;
  margin: 0;
}

.start {
  $size: 25px;
  $size2: $size*2;
  border: 1px solid #DDD;
  display: inline-block;
  width: $size2;
  height: $size2;
  border-radius: $size; 
  text-align: center;
  cursor: pointer;
  font-size: $size/2;
  line-height: $size2;
}
.active {
  background: #DDD;
}
